@page :first { margin: 1cm; }
@layer @layer-name { .a { c: d; } }
@charset "UTF-@{Eight}";
@namespace @ns "http://lesscss.org";
@container (width > 760px) not (height > 670px) { .a { c: d; } }
@-moz-document @function-name("(x)") { .a { c: d; } }
@namespace @ns "http://@{host}/";
