img {
  filter: progid:DXImageTransform.Microsoft.gradient(enabled='false', startColorstr='#{ie-hex-str($green)}', endColorstr='#{ie-hex-str($translucent-red)}');
}

a {
  --custom: '#{$interpolated}' rest;
}
a {
  prop13: progid:DXImageTransform.Microsoft.gradient(enabled='false', startColorstr='#{ie-hex-str($green)}');
  -ms-filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}
